:root {
    --primary: rgb(17, 142, 197);
    --gray: hsl(214, 16%, 83%);
    --white: hsl(216, 100%, 95%);
    --dark_gray: rgb(47, 45, 46);
  }

  body {
    background-color: white;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    margin: auto;
    min-height: 100vh;
    
  }

  body h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
  }

  body p {
    font-family: 'Source Sans Pro', sans-serif;
  }

  .header {
    display: flex;
  }
  
  .nav {
    display: flex;
  }

  .nav__container {
    background-color: var(--dark_gray);
    display: flex;
    justify-content: center;
    align-items:center;
    padding: 10px 15px;
    width: -webkit-fill-available;
  }

  .nav__link, .nav__link--active {
    color: var(--white);
    font-size: 1.25rem;
    position: relative;
    text-decoration: none;    
    margin: 0px 25px;
    font-size: 1.5rem;
    background-image: linear-gradient(var(--dark_gray), var(--dark_gray));
    background-size: 100% 0.1em;
    background-position-y: 100%;
    background-position-x: 50%;
    background-repeat: no-repeat;
    transition: background-size 0.2s ease-out;
  }

  .nav__link:hover {
    text-decoration: underline;
    background-size: 0% 0.1em;
    color: var(--primary);
    background-image: linear-gradient(var(--primary), var(--primary));
    font-size: 1.55rem;
}

.footer {
    background-color: var(--dark_gray);
    height: 75px;
    margin-top: auto;
    text-align: center;
    padding: 24px 0;
    color: var(--white);
}


/** Homepage specific styles  **/
.main__container {
    margin-bottom: 30px;
    text-align: center;
}

.section {
    padding: 0px 10px;
    text-align: left;
}

.article {
    padding: 0px 10px;
    text-align: left;
}

.article__primary-heading, .main__primary-heading {
    font-size: 30px;
    text-align: left;
    padding-left: 20px;
}

.main__primary-heading {
    animation-name: colorChange;
    animation-duration: 4s;
}

@keyframes colorChange {
    0%   { color: orange }
    25%  { color: var(--primary); }
    50%  { color: orange; }
    100% { color: var(--primary); }
}

.section__secondary-heading {
    padding-left: 20px;
}

.article__image {
    float: left;
    margin: 10px;
}

.article__text, .section__text {
    font-family: 'Courier Prime';
    padding: 0px 25px;
}
/** End of Homepage styles **/




/** Episode Guide Page specific styles **/
/** End of Episode Guide Page styles **/




/** Awards Page specific styles **/
h2.awards {
    color: var(--primary);
    text-decoration: underline;
}

.award-container {
    margin: 20px;
}
/** End of Awards Page styles **/



/** Rewatch Podcast Page specific styles **/
.main__image {
    text-align: center;
    margin: auto;
    height: 450px;
}

.section__div {
    text-align: center;
    justify-content: center;
}

.section__list {
    list-style-position: inside;
}

.section__button {
    background-color: var(--primary);
    color: var(--white);
    border: none;
    padding: 12px 24px;
    border-radius: 12px;
    text-transform: uppercase;
    cursor: pointer;
    transition: 300ms;

  }
  
  .section__button:hover {
    background-color: var(--dark_gray);
    color: var(--white);
    transform: translateY(-10px);
  }
/** End of Rewatch Podcast Page styles **/




/** Alumni Page specific styles **/
alumni_container {
    display: flex;
    width: 90%;
    height: 100%;
    flex-flow: column wrap;
    justify-content: space-between;
    align-content: flex-start;
    margin: auto;
}

h2.character, h3.cast {
    text-align: center;
}

div.alumnipic {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

h3.cast {
    font-style: italic;
    margin: 0px;
}

.emphasis {
    font-style: italic;
}

.character_description, .cast_description {
    margin-top: 10px;
    margin-bottom: 5px;
}

h2.character {
   margin-bottom: 10px;
}

.img_alumni {
    display: flex;
    justify-content: center;
}
/** End of Alumni Page styles **/



/** Media Query Version of Website for Ipad and Cellphone **/
@media screen and (max-width: 1100px) {
    .nav, .nav__container {
        flex-direction: column;
        align-items: center;
    }

    .nav__image {
        margin-bottom: 10px;
    }

    /** Homepage specific styles  **/
    .section {
        margin: auto;
        padding: 0px 10px;
    } 

    .article__image, .main__image {
        height: 150px;
        margin: auto;
        margin-bottom: 15px;
    }

    .article__text {
        padding: 0px 10px;
    }

    /** End of Homepage styles **/



    /** Episode Guide Page specific styles **/
    /** End of Episode Guide Page styles **/

    /** Awards Page specific styles **/
    /** End of Awards Page styles **/

    /** Rewatch Podcast Page specific styles **/
    
    /** End of Rewatch Podcast Page styles **/

    /** Alumni Page specific styles **/
    .main__primary-heading {
        font-size: 2rem;
    }
    .alumni_container {
        font-size: 1rem;
    }
    /** End of Alumni Page styles **/    

}



/** Media Query Version of Website for extra needs for Cellphone **/
@media screen and (max-width: 500px) {
    /** Homepage specific styles  **/
    .article__primary-heading, .main__primary-heading {
        text-align: center
    }
    
    .article__image, .main__image {
        float: unset;
        display: block;
        height: 150px;
    }

    .article__text {
        padding: 0px 10px;
    }

    /** End of Homepage styles **/



    /** Episode Guide Page specific styles **/
    /** End of Episode Guide Page styles **/

    /** Awards Page specific styles **/
    .main__primary-heading {
        font-size: 2rem;
    }
    .award_container {
        font-size: 1rem;
    }
    .awards {
        text-align: center;
    }
    /** End of Awards Page styles **/

    /** Rewatch Podcast Page specific styles **/
    /** End of Rewatch Podcast Page styles **/

    /** Alumni Page specific styles **/
    .alumni_container {
        margin: 20px;
    }
    /** End of Alumni Page styles **/    
}